.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 100vh;
}

.intro_inner {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}

.intro_title {
  padding-top: 200px;
  color: white;
  font-size: 40px;
  font-weight: 200;

  letter-spacing: 6px;
  font-family: Gill Sans Extrabold, sans-serif;
}

.styleAND {
  font-size: 80px;
}

.intro_subtitle {
  font-family: Gill Sans Extrabold, sans-serif;
  color: white;
  font-weight: normal;
}

.intro_button {
  border: 2px solid white;
  background: rgba(51, 50, 50, 0.651);
  width: 200px;
  height: 40px;
  margin: 0 auto;
  color: white;
  font-family: Gill Sans Extrabold, sans-serif;
  margin-top: 150px;
}

.header {
  background: url('../img/apples.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 90px 0 90px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 16px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  font-family: Gill Sans Extrabold, sans-serif;
}

.header_nav {
  font-size: 16px;
}

.header_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;

  color: white;
  text-decoration: none;
  font-family: Gill Sans Extrabold, sans-serif;

  transition: color 0.2s linear;
}

.paragraphs {
  margin: 100px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parag1 {
  float: left;
  width: 450px;
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 22px;
}

.parag2 {
  float: left;
  width: 660px;
  font-size: 16px;
  font-family: Gill Sans Extrabold, sans-serif;
}

.commodo_ligula {
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.articles_block {
  background-color: #f0f0f0;
}

.articles_block_container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.articles_title {
  text-align: center;
  font-family: Gill Sans Extrabold, sans-serif;
  font-weight: 100;
  padding: 40px 0;
}

.featured_articles {
  font-family: Gill Sans Extrabold, sans-serif;
  font-weight: 600;
}

.first_article {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_img {
  float: left;
  background: url('../img/sample.jpg') no-repeat;
  height: 300px;
  width: 800px;
  margin-right: 48px;
  box-shadow: inset 0 0 70px 0 #7a7878;
  display: flex;
  justify-content: space-between;
}

.img_text {
  margin-top: 270px;
  margin-left: 15px;
  color: #fff;
  bottom: 0;
}

.img_like {
  height: 20px;
  padding: 0 4px;
  border: 2px solid #fff;
  width: 40px;
  color: #fff;
  top: 0;
  margin-right: 15px;
  margin-top: 15px;
  background: #343638b2;
}

.first_text {
  float: left;
  width: 600px;
  font-family: Gill Sans Extrabold, sans-serif;
  text-align: center;
}

.second_article {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second_img {
  float: right;
  background: url('../img/sample1.jpg') no-repeat;
  height: 300px;
  width: 800px;
  margin-left: 48px;
  box-shadow: inset 0 0 70px 0 #7a7878;
  display: flex;
  justify-content: space-between;
}

.second_text {
  float: right;
  width: 600px;
  font-family: Gill Sans Extrabold, sans-serif;
  text-align: center;
}

.empty {
  height: 40px;
}

.form_block {
  max-width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 30px;
  width: 1340px;
  background: white;
  text-align: center;
  height: 100px;
}

.form_text {
  max-width: 100%;
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 16px;
  padding-left: 150px;
  /* padding: 50px 50px; */
}

.newsletter {
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.form_div {
  max-width: 100%;
  padding-left: 200px;
}

.form {
  max-width: 100%;
  width: 600px;
  border: 1px solid #343638;
  padding: 12px 20px;
  box-shadow: inset 0 1px 3px #ddd;
  box-sizing: border-box;
}

.form_button {
  max-width: 100%;
  border: 1px solid #343638;
  padding: 12px 20px;
  box-sizing: border-box;
  color: white;
  background-color: #343638;
}

.more_information {
  max-width: 100%;
  height: 250px;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 90px 0 90px;
}

.more_information_container {
  max-width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more_information_title {
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.more_information_paragraphs {
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 14px;
  color: #9e9e9e;
}

.black_white_inner {
  max-width: 100%;
  width: 250px;
}

.last_tweet_inner {
  max-width: 100%;
  width: 250px;
}

.contact_inner {
  max-width: 100%;
  width: 250px;
}

.news_letter_inner {
  max-width: 100%;
  width: 300px;
}

.last_form {
  width: 210px;
  border: 1px solid #343638;
  padding: 12px 12px;
  box-shadow: inset 0 1px 3px #ddd;
  box-sizing: border-box;
}

.last_button {
  width: 90px;
  border: 1px solid #343638;
  padding: 12px 12px;
  box-sizing: border-box;
  color: white;
  background-color: #343638;
}

.line {
  border: none;
  background-color: #e8e8e8;
  height: 2px;
  width: 1400px;
}

.footer {
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
}

.footer_container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo {
  font-size: 12px;
  color: #9e9e9e;
  font-family: Gill Sans Extrabold, sans-serif;
}

.footer_nav {
  font-size: 12px;
}

.footer_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;

  color: #343638;
  text-decoration: none;
  font-family: Gill Sans Extrabold, sans-serif;

  transition: color 0.2s linear;
}
