#root {
  margin: 0 auto;
  text-align: center;
}

#modifyItem {
  display: none;
}

#list {
  list-style: none;
  width: 30%;
  margin: auto;
}

.hidden {
  display: none;
}

.alertMessage {
  padding-top: 25px;
  width: 300px;
  height: 50px;
  background: rgb(194, 189, 189);
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
}

.editButton {
  margin-right: 150px;
}

#likedTweetsDiv {
  margin: 0 auto;
  text-align: center;
}

#ullistLikedElements {
  list-style: none;
}
