.flex-2-col {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

h2 + p {
  font-style: italic;
}

p.tm-section-description {
  text-indent: 30px;
}

.box-bg:hover {
  background: #87cefa;
}

.box-bg:hover h2 {
  color: white;
}

p::first-letter {
  font-size: 30px;
  color: #87cefa;
}

section::before {
  content: '';
  width: 100%;
  height: 100%;
  clip-path: polygon(16% 0%, 0 0, 0 7%);
  background: #87cefa;
}

.carousel-item h2.tm-section-title {
  color: #dcdcdc;
  letter-spacing: 5px;
}

a:visited {
  text-decoration: underline;
}

ol a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #87cefa;
  border-bottom: double;
}

.text::after {
  content: 'New';
  vertical-align: super;
  line-height: 0;
  color: red;
}

.padding-medium a {
  color: black;
}

.tm-main-nav a:hover {
  background-color: grey;
}

.btn-primary {
  background-color: white;
  color: #87cefa;
  border-color: #87cefa;
  border-radius: 0ch;
  width: 120px;
  height: 40px;
  float: right;
}

.btn-primary:hover {
  border-color: #87cefa;
  background-color: #93d6ff;
}

li.box.box-work:nth-child(2n) {
  background-color: #cdd3d6fb;
  opacity: 0.8;
}

li.box.box-work {
  border: 4px rgb(221, 221, 221);
  background: rgb(255, 255, 255);
  padding: 10px;
}
.box-work p:first-letter {
  color: black;
}

.tm-content-box,
nav {
  box-shadow: 0px 0px 13px 5px rgba(34, 60, 80, 0.44);
}

.tm-banner {
  border: 30px solid #f5f5f5;
  padding: 0;
}

.mandatory-field::after {
  content: '*';
  color: red;
  font-weight: bolder;
}

@media print {
  nav,
  .heading,
  .blocks,
  #ideas,
  .img-contact-us,
  #contact,
  .boxes {
    display: none;
  }
  .padding-medium h2.tm-section-title {
    color: blue;
  }
  p::first-letter {
    display: none;
  }
  .flex-item img {
    width: 60%;
    max-width: 100%;
    padding-top: 130px;
  }
  footer {
    margin-top: -100px;
  }
  .tm-banner {
    border: none;
    width: 75%;
  }
}
