body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  top: 0;
  right: 0;
  left: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-content {
  max-width: 100%;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  padding-left: 150px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

.header_nav {
  font-size: 16px;
}

.header_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;

  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

.header_link:hover {
  color: #315f9cdc;
}

.intro_inner {
  background: url('../img/lady.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-left: 80px;
  padding-top: 250px;
  height: 500px;
}

.intro_information {
  padding-left: 76px;
}

.intro_paragraphs {
  color: rgb(168, 168, 168);
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

#heart_icon,
#first-aid,
#stethoscope {
  color: white;
  width: 35px;
  height: 35px;
  border: 2px solid none;
  border-radius: 50%;
  background: #315f9cdc;
  padding: 10px 10px 10px 10px;
  margin: 0 15px;
}

#heart_icon {
  margin-left: 0;
}

#stethoscope:hover {
  border: 2px solid #315f9cdc;
  background-color: white;
  color: #315f9cdc;
}

#heart_icon:hover {
  background-color: white;
  color: #315f9cdc;
  border: 2px solid #315f9cdc;
}

#first-aid:hover {
  background-color: white;
  color: #315f9cdc;
  border: 2px solid #315f9cdc;
}

#arrow-up:hover {
  background-color: white;
  color: #315f9cdc;
  border: 2px solid #315f9cdc;
}

.about_clinic {
  max-width: 100%;
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clinic_subtitle,
#arrow,
#arrow1,
#arrow2 {
  color: #528fdd;
}

.about_clinic_block_photo {
  background: url('../img/tools.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
}

.about_clinic_block_information {
  height: 400px;
  /* margin-left: 30px; */
  float: left;
}

.arrow-up {
  height: 500px;
}

#arrow-up {
  color: white;
  width: 35px;
  height: 35px;
  border: 2px solid none;
  border-radius: 50%;
  background: #315f9cdc;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}

.help_block {
  background: url('../img/services_bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 750px;
}

.help_header {
  padding-top: 50px;
  text-align: center;
}

.help_subtitle {
  font-size: 14px;
}

.sections {
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.photos-line {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.photos_block {
  width: 350px;
  height: 250px;
  background: white;
}

.icon_block {
  position: relative;
  width: 50%;
  height: 50%;
}

.icon_main {
  position: absolute;
  bottom: 0;
  left: 0;
}

#icon_background,
#icon_background1,
#icon_background2,
#icon_background3,
#icon_background4,
#icon_background5 {
  height: 110px;
  width: 120px;
  color: rgba(134, 236, 236, 0.356);
  padding-left: 30px;
  padding-top: 15px;
}

#icon_main,
#icon_main1,
#icon_main2,
#icon_main3,
#icon_main4,
#icon_main5 {
  width: 80px;
  height: 50px;
  left: 0;
  bottom: 0;
  padding-left: 15px;
}

.sections_title {
  padding-left: 30px;
}

.sections_text {
  font-size: 12px;
  padding-left: 30px;
}

.special_offers_block {
  background: url('../img/pricing_bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 780px;
}

.special_offers_header {
  /* padding-top: 50px; */
  text-align: center;
  padding-bottom: 0;
}

.special_offers_subtitle {
  font-size: 14px;
}

.special_sections {
  width: 100%;
  height: 100%;
  position: relative;
}

.special_sections_container {
  display: flex;
  position: absolute;
  top: 5%;
  left: 13%;
}

.special_sections_block {
  background: rgb(94 207 240);
  height: 550px;
  width: 370px;
  margin-top: 30px;
  color: white;
  text-align: center;
  padding-top: 25px;
}

.special_sections_big_block {
  background: white;
  height: 580px;
  width: 370px;
  border: 2px solid #315f9cdc;
  color: #315f9cdc;
  text-align: center;
  padding-top: 50px;
}

.price {
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.treatments {
  font-style: italic;
}

.paragraphs_padding {
  padding-top: 10px;
}

.icon_cross {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.special_button {
  color: #315f9cdc;
  width: 110px;
  height: 40px;
  border: 2px solid #315f9cdc;
  border-radius: 10px;
  background: white;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 700;
}

.appointment_block {
  max-width: 100%;
  margin-top: 30px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.appointment_photo {
  float: left;
}

#appointment_photo {
  width: 750px;
}

.appointment_information {
  height: 400px;
  margin-left: 30px;
  float: left;
}

.appointment_title {
  padding: 0;
  margin: 0;
}

.appointment_subtitle {
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 30px;
}

.btn_submit {
  color: white;
  width: 90px;
  height: 40px;
  border: 1px solid #315f9cdc;
  border-radius: 10px;
  background: #315f9cdc;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

.btn_submit:hover {
  background: white;
  color: #315f9cdc;
}

.forms {
  border: 0;
}

hr {
  border: none;
  background-color: #e8e8e8;
  height: 2px;
  width: 700px;
}

.footer {
  margin: 0;
  padding: 0;
  background: rgba(15, 10, 10, 0.822);
}

.footer_inner {
  height: 40px;
  padding-top: 20px;
  color: white;

  text-align: center;
}
