// Write your styles here
body {
    margin: 0px;
    padding: 0px;
    background: $sectionBackground;
}

.landing-logo {
    font: 100% $textFont;
    display: flex;
    height: 40px;
    span {
        display: flex;
        font-size: 7px;
        margin-left: 5px;
        margin-top: -1px;
    }
    p {
        font-weight: map-get($font-weights, normal);
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 3px;
    } 
}

.header {
    background-image: url($headerBackground);
    background-size: cover;
    background-position-y: center;
    padding: 15px 0 0 100px;
    background-size: cover;
    border-radius: 0 0 550px/270px 0;

    .header-wrap {
        color: $mainColor;

        .header_heading {
            width: 30%;
            font: 100% $headerFont;
            font-weight: map-get($font-weights, bold);
            font-size: 50px;
            text-align: left; 
            display: inline-block;

            &::after {
                @extend .header_heading;
                content: 'awesome';
                position: relative;
                top: -65px;
                padding-bottom: 15px;
                line-height: 30px;
                background-color: $markColor;
                padding-right: 88px;
            }
        }
        
        .header_text {
            width: 450px;
            font: 100% $textFont;
            line-height: 20px;
            font-size: small;
            text-align: left; 
            padding-bottom: 30px;
            margin-top: -35px;
        }

        .header_button {
            @include headerButton;
            margin-bottom: 130px;
        }
        
        .login {
            @include headerLink;
        }
    }
}

.section {
    .section_text {
        font: 100% $headerFont;
        font-weight: map-get($font-weights, normal);
        font-size: 40px;
        text-align: center;
        margin: 30px;
        color: $mainColor;

        &::after {
            @extend .section_text;
            content: 'adventure';
            background-color: $markColor;
            margin-left: -197px;
        } 
    }
    
    .section_card_wrap {
        .section_card {
            background-color: $footerColor;
            margin: auto;
            margin-bottom: 20px;
            padding: 17px;
            border-radius: 5px;
            display: flex;
            width: 900px;
            text-align: center;
            
            .section_card_img {
                height: 230px;
                width: 350px;
                border-radius: 5px;
            }
        
            .section_card_right_container {
                margin: auto;
    
                .section_card_heading {
                    font: 100% $headerFont;
                    font-weight: map-get($font-weights, normal);
                    color: white;
                    font-size: 20px;
                    margin: -3px 0 30px 0;
                }
    
                .section_card_text {
                    font: 100% $textFont;
                    line-height: 20px;
                    font-size: 13px;
                    color: $textColor;
                    width: 370px;
                    text-align: justify;
                }
    
                .section_link {
                    @include sectionLink;
                }
            }       
        }
    }
    
    .section_banner {
        background: linear-gradient(to right, $gradientColor1 0%, $gradientColor2 100%);
        width: 950px;
        display: flex;
        border-radius: 5px;
        margin: auto;
        margin-top: 50px;
        position: relative;
        top: 60px; 

        .section_banner_button {
            @include headerButton;
            margin: auto; 
        }
    
        .section_banner_text_wrap {
            width: 50%;
            margin: auto;
        }
    
        .section_banner_heading {
            font: 100% $headerFont;
            font-weight: map-get($font-weights, bold);
            font-size: 25px;
            color: $mainColor;
            margin-bottom: 10px;

            &::after {
                @extend .section_banner_heading;
                content: 'start';
                position: relative;
                line-height:30px ;
                left: -246px;
                padding-top: 5px;
                padding-right: 5px;
                background-color: $markColor;  
            }
        }
    
        .section_banner_text {
            font: 100% $textFont;
            color: $textColor;
            font-size: small;
            margin-bottom: 30px;
        }
    }
}

.footer {
    height: 170px;
    background-color: $footerColor;

    .footer-wrap {
        color: white;
        display: flex;
        padding-top: 80px;
        align-items: center;
        justify-content: center;
        .footer_logo{
            width: 33%;
            justify-content: center;
        }
        .footer_text {
            font: 100% $textFont;
            color: $textColor;
            font-size: 10px;
            line-height: 15px;
            width: 33%;
            padding: 0 400px;
        }
        .footer-cr {
            font: 100% $textFont;
            color: rgb(191, 192, 197);
            font-size: 13px;
            width: 33%;
            padding-left: 70px;
        }
    }
}
