$headerBackground: '../img/m-h-day.jpg';
$headerFont: Source Sans Pro, sans-serif;
$textFont: Hind, sans-serif;
$textColor: rgb(191, 192, 197);
$mainColor: rgb(44, 48, 60);
$sectionBackground: white;
$footerColor: rgb(35, 35, 47);
$markColor: rgb(32, 155, 190);

$font-weights: ("normal": 600, "bold": 700);

@mixin headerButton{
    font: 100% $headerFont;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 0px;
    background-color: rgb(104, 153, 2);
}

@mixin headerLink {
    font: 100% $headerFont;
    font-weight: 600;
    color: white;
    margin-left: 100px;
}

@mixin sectionLink {
    font: 100% $headerFont;
    font-size: 13px;
    color: rgb(191, 192, 197);
}

$gradientColor1: #679708;
$gradientColor2: #315fcc;
