$headerBackground: '../img/m-h-night.jpg';
$headerFont: Source Sans Pro, sans-serif;
$textFont: Fresca, sans-serif;
$mainColor: white;
$textColor: rgb(209, 208, 208);
$sectionBackground: rgb(35, 35, 47);
$footerColor: rgb(60, 64, 78);
$markColor: rgb(255, 74, 50);

$font-weights: ("normal": 600, "bold": 700);

@mixin headerButton{
    font: 100% $headerFont;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 0px;
    background-color: rgb(226, 172, 1);
}

@mixin headerLink {
    font: 100% $headerFont;
    font-weight: 600;
    color: white;
    margin-left: 50px;
}

@mixin sectionLink {
    font: 100% $headerFont;
    color: rgb(191, 192, 197);
}

$gradientColor1: #DEA505;
$gradientColor2: #963150;
