/* START: Task 1 Styles */
table {
  border-collapse: collapse;
  margin: 0 auto;
}
table,
th,
td {
  border: 2px solid rgb(153, 139, 139);
}
td {
  width: 100px;
  background-color: white;
  text-align: center;
}
tr {
  height: 100px;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */
#resultblock {
  height: 50px;
  width: 300px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: green;
}

.inputField {
  margin-top: 20px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
  position: relative;
  background: url(./assets/court.png);
  height: 330px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  margin-top: 50px;
  margin: 0 auto;
}

.court > img {
  width: 600px;
  height: 330px;
}

#ball {
  position: absolute;
  left: 285px;
  width: 40px;
  height: 40px;
  transition: 1s all;
}

#left {
  margin-left: 30px;
}

#right {
  margin-right: 25px;
}

h2 {
  text-align: center;
}

#left,
#right {
  height: 15px;
  width: 15px;
}

.score {
  display: flex;
  justify-content: space-around;
}

/* END: Task 3 Styles */
