body {
  margin: 0px;
  padding: 0px;
  background: #23232f; }

.landing-logo {
  font: 100% Fresca, sans-serif;
  display: flex;
  height: 40px; }
  .landing-logo span {
    display: flex;
    font-size: 7px;
    margin-left: 5px;
    margin-top: -1px; }
  .landing-logo p {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 3px; }

.header {
  background-image: url("../img/m-h-night.jpg");
  background-size: cover;
  background-position-y: center;
  padding: 15px 0 0 100px;
  background-size: cover;
  border-radius: 0 0 550px/270px 0; }
  .header .header-wrap {
    color: white; }
    .header .header-wrap .header_heading, .header .header-wrap .header_heading::after {
      width: 30%;
      font: 100% Source Sans Pro, sans-serif;
      font-weight: 700;
      font-size: 50px;
      text-align: left;
      display: inline-block; }
      .header .header-wrap .header_heading::after {
        content: 'awesome';
        position: relative;
        top: -65px;
        padding-bottom: 15px;
        line-height: 30px;
        background-color: #ff4a32;
        padding-right: 88px; }
    .header .header-wrap .header_text {
      width: 450px;
      font: 100% Fresca, sans-serif;
      line-height: 20px;
      font-size: small;
      text-align: left;
      padding-bottom: 30px;
      margin-top: -35px; }
    .header .header-wrap .header_button {
      font: 100% Source Sans Pro, sans-serif;
      font-weight: 600;
      width: 100px;
      height: 40px;
      border-radius: 3px;
      color: white;
      border: 0px;
      background-color: #e2ac01;
      margin-bottom: 130px; }
    .header .header-wrap .login {
      font: 100% Source Sans Pro, sans-serif;
      font-weight: 600;
      color: white;
      margin-left: 50px; }

.section .section_text, .section .section_text::after {
  font: 100% Source Sans Pro, sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin: 30px;
  color: white; }
  .section .section_text::after {
    content: 'adventure';
    background-color: #ff4a32;
    margin-left: -197px; }
.section .section_card_wrap .section_card {
  background-color: #3c404e;
  margin: auto;
  margin-bottom: 20px;
  padding: 17px;
  border-radius: 5px;
  display: flex;
  width: 900px;
  text-align: center; }
  .section .section_card_wrap .section_card .section_card_img {
    height: 230px;
    width: 350px;
    border-radius: 5px; }
  .section .section_card_wrap .section_card .section_card_right_container {
    margin: auto; }
    .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
      font: 100% Source Sans Pro, sans-serif;
      font-weight: 600;
      color: white;
      font-size: 20px;
      margin: -3px 0 30px 0; }
    .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
      font: 100% Fresca, sans-serif;
      line-height: 20px;
      font-size: 13px;
      color: #d1d0d0;
      width: 370px;
      text-align: justify; }
    .section .section_card_wrap .section_card .section_card_right_container .section_link {
      font: 100% Source Sans Pro, sans-serif;
      color: #bfc0c5; }
.section .section_banner {
  background: linear-gradient(to right, #DEA505 0%, #963150 100%);
  width: 950px;
  display: flex;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  top: 60px; }
  .section .section_banner .section_banner_button {
    font: 100% Source Sans Pro, sans-serif;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 0px;
    background-color: #e2ac01;
    margin: auto; }
  .section .section_banner .section_banner_text_wrap {
    width: 50%;
    margin: auto; }
  .section .section_banner .section_banner_heading, .section .section_banner .section_banner_heading::after {
    font: 100% Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-bottom: 10px; }
    .section .section_banner .section_banner_heading::after {
      content: 'start';
      position: relative;
      line-height: 30px;
      left: -246px;
      padding-top: 5px;
      padding-right: 5px;
      background-color: #ff4a32; }
  .section .section_banner .section_banner_text {
    font: 100% Fresca, sans-serif;
    color: #d1d0d0;
    font-size: small;
    margin-bottom: 30px; }

.footer {
  height: 170px;
  background-color: #3c404e; }
  .footer .footer-wrap {
    color: white;
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: center; }
    .footer .footer-wrap .footer_logo {
      width: 33%;
      justify-content: center; }
    .footer .footer-wrap .footer_text {
      font: 100% Fresca, sans-serif;
      color: #d1d0d0;
      font-size: 10px;
      line-height: 15px;
      width: 33%;
      padding: 0 400px; }
    .footer .footer-wrap .footer-cr {
      font: 100% Fresca, sans-serif;
      color: #bfc0c5;
      font-size: 13px;
      width: 33%;
      padding-left: 70px; }
