.container {
  width: 710px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.results {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#js-block,
#fetch-block {
  border: rgb(148, 147, 147) 1px solid;
  width: 320px;
  padding: 0 5px 5px;
  min-height: 320px;
}

.button {
  border-radius: 10px;
  color: white;
  background: rgb(39 200 176);
  padding: 8px 18px;
  border: none;
  font-size: 16px;
}

p {
  margin: 8px 0;
  padding: 5px;
  background: rgb(231, 231, 231);
}

.btnblock {
  display: flex;
  justify-content: space-between;
  width: 136px;
  margin: 0 auto;
}

.editbtn,
.deletebtn,
.savebtn {
  border-radius: 10px;
  color: white;
  padding: 5px 18px;
  font-size: 12px;
  border: none;
}

.editbtn {
  background: rgb(5, 156, 194);
}

.deletebtn {
  background: rgb(129, 7, 47);
}

.savebtn {
  background: rgb(39 200 176);
}

.editblock {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 10px auto;
}
