@import './variables.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #001a49;
  color: #fff;
}
.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: $center;
}
.title {
  font-size: 4rem;
}
.title-rules {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.rules {
  font-style: italic;
  margin-top: 1rem;
}
.score {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  position: absolute;
  top: 70px;
  z-index: 1;
}
.p-count,
.c-count {
  text-align: $center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.options {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}
.rock,
.paper,
.scissor,
.reset {
  padding: $padding;
  margin-top: 2rem;
  background: rgb(98, 156, 194);
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  width: 130px;
}
.move {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.reload {
  display: none;
  padding: $padding;
  margin-top: 2rem;
  background: rgb(98, 156, 194);
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.result {
  margin-top: 20px;
  font-size: 1.2rem;
}
@media screen and (max-width: 612px) {
  .title {
    text-align: $center
  }
  .score {
    position: absolute;
    top: 200px;
    width: 100vw;
  }
  .options {
    width: 100vw;
  }
}
