.calendar {
  width: 25rem;
  height: 25.5rem;
  box-shadow: 0 2px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 3%;
  .month {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    .arrows {
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
    .date {
      display: flex;
      .date-month {
        margin-right: 0.3rem;
      }
    }
  }
  .weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem 0.5rem;
    div {
      letter-spacing: 0.2rem;
    }
  }
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    div {
      font-size: 1rem;
      width: calc(24.6rem / 7);
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover:not(.today) {
        border: 1px solid #0b63e6;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .prev-date,
    .next-date {
      opacity: 0.5;
    }
    .today {
      background-color: #0b63e6;
      color: white;
      border-radius: 50%;
    }
  }
}