h1 {
  text-align: center;
}

div {
  text-align: center;
}

#countries {
  margin: auto;
  font-family: Arial, Verdana, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#countries td,
#countries th {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

#countries tr:nth-child(even) {
  background-color: rgba(245, 238, 238, 0.959);
}

#countries tr:hover {
  background-color: rgba(245, 240, 240, 0.651);
}

#countries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2aaf47;
  color: white;
}

.buttons-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttons div {
  display: flex;
  justify-content: left;
}

.byrag {
  position: relative;
}

.bylag {
  position: relative;
}

.th-country {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 5px;
}

.arrow-up {
  position: relative;
  top: 7px;
}

.arrow-down {
  transform: rotate(180deg);
  position: relative;
  bottom: 7px;
}

.th-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 5px;
}

.arrowArea-up {
  position: relative;
  top: 7px;
}

.arrowArea-down {
  transform: rotate(180deg);
  position: relative;
  bottom: 7px;
}
