@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}
*,
*::backdrop,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  font-family: 'Roboto';
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/*---------------------------------------------------*/
/* ._container {
  max-width: 1400px;
  margin: 0px auto; 
  padding: 0px 15px;
  box-sizing: content-box; 
} */
/*-------------Header------------------------------*/
.header {
  width: 100%;
  left: 0;
  top: 0;
}
.header__container {
  max-width: 1200px;
  margin: 0px auto; /*по центру*/
  padding: 0px 15px;
  box-sizing: content-box;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

@media (max-width: 992px) {
  /* .header__menu {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header_icon {
    display: block;
  } */
}

@media (max-width: 768px) {
  /* .header__menu {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header_icon {
    display: block;
  } */
}
.menu {
  padding: 5px 0px;
}
.menu__list {
  flex-wrap: wrap; /*при стягуванні екрану лінки будуть ламатись */
  display: flex;
}

.menu__item:not(:last-child) {
  /*відступ будуть мати усі окрім останнього елементу */
  margin-right: 20px;
}
.menu__link {
  color: #737373;
  line-height: 171%; /*відстань між рядками*/
  font-weight: 400;
}
.menu__link__home {
  color: inherit;
  line-height: 171%; /*відстань між рядками*/
  font-weight: 400;
}
.header__button {
  background: rgb(41 41 41);
  color: white;
  display: flex;
  border-radius: 2px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

@media (max-width: 992px) {
  .header__menu,
  .header__button {
    display: none;
  }
  .header__container {
    max-width: 700px;
  }
}

.menu-icon {
  display: none;
}

@media (max-width: 992px) {
  .menu-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #737373;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: '';
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
/*----------Main--------------------------------------*/
/*---------Page---------------------------------------*/
.page {
  flex: 1 1 auto;
}
.page__container {
  max-width: 100%;
}
.main-block {
  max-width: 1200px;
  margin: 0px auto; /*по центру*/
  padding: 0px 15px;
  box-sizing: content-box;
  display: flex;
  min-height: 520px;
  justify-content: space-between;
}
.main-block__information {
  padding-top: 12%;
  max-width: 350px;
}
.main-block__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
}
.main-block__text {
  line-height: 150%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #474747;
}
.main_button {
  border-radius: 5px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7b47;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
}
.main-block__image {
  max-width: 700px;
}
.hero_img {
  max-width: 700px;
  max-height: 600px;
}
@media (max-width: 992px) {
  .main-block__information {
    padding-top: 12%;
  }
  .hero_img {
    max-width: 550px;
  }
  .page__container {
    max-width: 992px;
  }
}

@media (max-width: 768px) {
  .page__container {
    max-width: 768px;
  }
  .main-block {
    flex-direction: column-reverse;
  }
  .main-block__information {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .hero_img {
    max-width: 500px;
  }
}
/*----------------Games-section-------------------------------*/
.container-fluid {
  background: rgb(41 41 41);
}
.games-section-title {
  padding-top: 20px;
  line-height: 170%;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.games-section-subtitle {
  line-height: 170%;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}
.section-img-block {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}
.section_img {
  max-width: 300px;
  max-height: 300px;
}
.section-title {
  margin-top: 20px;
  color: white;
  line-height: 170%;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
.section-text {
  max-width: 300px;
  color: white;
  line-height: 170%;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
/*--------Games Section 2 ---------------------*/
.games-section-title2 {
  padding-top: 20px;
  line-height: 170%;
  color: rgb(41 41 41);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.games-section-subtitle2 {
  line-height: 170%;
  color: rgb(41 41 41);
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.section-img-block2 {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}
.section_img2 {
  max-width: 470px;
  max-height: 400px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
.section-title2 {
  max-width: 400px;
  margin-top: 20px;
  color: rgb(41 41 41);
  line-height: 170%;
  font-weight: 600;
  font-size: 18px;
  margin: 30px auto 0;
  text-align: center;
}
.section-text2 {
  max-width: 400px;
  color: rgb(41 41 41);
  line-height: 170%;
  font-size: 14px;
  text-align: center;
  margin: 0 auto 40px;
}
/*--------Footer-----------------------------------------*/
.footer {
  max-width: 100%;
  background: rgb(41 41 41);
}
.footer .container-fluid .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 150px;
}
.footer-information {
  max-width: 500px;
}
.footer-title {
  max-width: 500px;
  color: white;
  font-size: 16px;
  line-height: 170%;
}
.footer-subtitle {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 14px;
  line-height: 130%;
}
.footer-form {
  max-width: 500px;
}
.footer-input {
  max-width: 500px;
}

.input {
  border-radius: 2px;
  color: #474747;
  width: 100%;
}
.footer-button {
  max-width: 500px;
  padding-bottom: 20px;
}
.footer-button-inner {
  border-radius: 2px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7b47;
  color: white;
  margin-top: 7px;
  font-size: 16px;
  padding: 5px 30px;
  width: 100%;
}
.footer-text {
  color: white;
  text-align: center;
}
